{% extends 'base.html.twig' %}
{% block title %}Страница авторизации{% endblock %}
{% block body %}
    <div class="container"
         style="text-align: center; margin-top: 20px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
        <h3>Авторизация</h3>
        {% if error %}
            <div style="color:red">{{ error }}</div>
        {% endif %}
        {{ form(form) }}
        <span>Еще не регистрировались?</span><br>
        <button class="myButton" style="width: 50%; margin-bottom: 20px;" type="submit">
            <a class="btn MyNav"
               href="{{ path('registration') }} ">Регистрация</a>
        </button>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        setTimeout(function () {
            if ($('.flashbag')) {
                $('.flashbag').remove();
            }
        }, 3000);
    </script>
{% endblock %}