<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
    {% block stylesheets %}
        <style>
            .myButton {
                border-radius: 5px;
                top: 5px
            }

            .MyLinkbtn {
                flex-wrap: wrap;
                width: 300px;
            }

            .MyLinkbtn:hover {
                background-color: #0088CC;
            }
            html {
                position: relative;
                min-height: 100%;
            }
            body {
                /* Margin bottom by footer height */
                margin-bottom: 60px;
            }
            #footer {
                position: absolute;
                margin-top: 200px;
                bottom: 0;
                width: 100%;
                /* Set the fixed height of the footer here */
                height: 60px;
                background-color: #f5f5f5;
            }
        </style>
    {% endblock %}
</head>
<body style="margin: 0; padding: 5px; height: 100%">
<span style="font-size: 40px">Реддиты()</span>
{% if app.user %}
    <button class="myButton" style="width: 10%; float: right; background-color: #5eb5e0" type="submit">
        <a id="myMainLink" style="color: darkblue; width: 100%" class="btn MyNav"
           href="{{ path('logout') }}">Выход</a>
    </button>
{% endif %}
<button class="myButton" style="width: 15%; float: right" type="submit">
    <a class="btn MyNav"
       href="{{ path('authentication') }} ">Войти</a>
</button>
<span style="float: right; margin: 0 25px"> или </span>
<button class="myButton" style="width: 15%; float: right" type="submit">
    <a class="btn MyNav"
       href="{{ path('registration') }} ">Регистрация</a>
</button>
<div style="display: inline-block; margin-top: 0; margin-bottom: 15px; border: solid black; width: 100%; background-color: #AAAAAA; text-align: center">
    <a style="color: darkblue;" class="btn MyLinkbtn"
       href="{{ path('homepage') }}">Главная</a> |
    <a style="color: darkblue;" class="btn MyLinkbtn"
       href="{{ path('show_my_posts') }}">Мои избранные</a> |
    <a style="color: darkblue;" class="btn MyLinkbtn"
       href="{{ path('show_all_favorites_posts') }}">Избранные сообщества</a>
</div>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
<div id="footer"
     style="bottom: 0;width: 100%; height: 100px; background: #AAAAAA; margin: 0 auto">
    <div style="text-align: center">
        <a style="color: darkblue;" class="btn MyLinkbtn"
           href="#">О нас</a>
        <a style="color: darkblue;" class="btn MyLinkbtn"
           href="#">Партнеры</a>
        <a style="color: darkblue;" class="btn MyLinkbtn"
           href="#">Контакты</a>
        <a style="color: darkblue;" class="btn MyLinkbtn"
           href="#">Разработчики сайта</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium facilis illo itaque molestiae nobis
            quidem. Animi corporis, cupiditate debitis distinctio, ducimus eaque fuga id in ipsum labore magni modi,
            sint!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium facilis illo itaque molestiae nobis
            quidem. Animi corporis, cupiditate debitis distinctio, ducimus eaque fuga id in ipsum labore magni modi,
            sint!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium facilis illo itaque molestiae nobis
            quidem. Animi corporis, cupiditate debitis distinctio</p>
    </div>
</div>
</body>
</html>
