{% extends 'base.html.twig' %}
{% block title %}Главная{% endblock %}
{% block body %}

<div class="container" style="min-height: 1200px ">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <form>
        <div class="form-row">
            <div class="form-group col-md-1">
                Поиск:
            </div>
            <div class="form-group col-md-9">
                {{ form_row(form.q) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(form.search) }}
            </div>
            <div class="form-group col-md-5" style="margin-left: 9%">
                {{ form_row(form.sort) }}
            </div>
            <div class="form-group col-md-5">
                {{ form_row(form.limit) }}
            </div>
        </div>
    </form>
    {{ form_end(form) }}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-3" style="text-align: center; margin-bottom: 40px">
                <div class="thumbnail">
                    <img src="{{ post.image }}" alt="no_photo" style="width: 100%;height: 180px;">
                    <div class="caption">
                        <h3>"{{ post.title | truncate(10)}}"</h3>
                        <span style="font-weight: bold; font-size: 20px">{{ post.author }}</span><br>
                        <span>Дата публикации: {{ post.getCreatedUts()}}</span><br>
                        <span>Количество подписавшихся: {{ post.getUserQuantity()[0][1]}}</span><br>
                        <p><a href="{{ path('details', { name: post.id }) }}" class="btn btn-primary" role="button">Подробнее</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

