{% extends 'base.html.twig' %}
{% block title %}Страница регистрации{% endblock %}
{% block body %}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="flashbag"
                 style="z-index: 1000000; text-align: center; top: 200px; width: 100%; font-size: 40px; position: fixed; color:green">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flashbag"
                 style="z-index: 1000000; text-align: center; top: 200px; width: 100%; font-size: 40px; position: fixed;color:red">{{ flashMessage }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-offset-3 col-md-6" style="text-align: center; margin-bottom: 40px">
                <div class="thumbnail">
                    <img src="{{ post.image }}" alt="no_photo" style="width: 100%;height: 400px;">
                    <div class="caption">
                        <h3>"{{ post.title | truncate(10) }}"</h3>
                        <span style="font-weight: bold; font-size: 20px">{{ post.author }}</span><br>
                        <span>Дата публикации: {{ post.getCreatedUts() }}</span><br>
                        <span>Количество подписавшихся: {{ post.getUserQuantity()[0][1] }}</span><br>
                        <p><a href="{{ path('add_to_favorite', { name: post.id }) }}" class="btn btn-primary" role="button">В избранные</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        setTimeout(function () {
            if ($('.flashbag')) {
                $('.flashbag').remove();
            }
        }, 3000);
    </script>
{% endblock %}