{% extends 'base.html.twig' %}
{% block title %}Страница регистрации{% endblock %}
{% block body %}
    <div class="container" style="text-align: center; margin-top: 20px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
        <h3>Регистрация</h3>
        {% if error %}
            <div style="color:red">{{ error }}</div>
        {% endif %}
        {{ form(form) }}
        <span>Уже регистрировались?</span><br>
        <button class="myButton" style="width: 50%; margin-bottom: 20px;" type="submit">
            <a class="btn MyNav"
               href="{{ path('authentication') }} ">Авторизация</a>
        </button>
    </div>
{% endblock %}