{% extends 'base.html.twig' %}
{% block title %}Избранные посты всех пользователей{% endblock %}
{% block body %}
    <div class="container" style="min-height: 1200px ">
        <h1 style="text-align: center;">Избранные посты всех пользователей</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-3" style="text-align: center; margin-bottom: 40px">
                    <div class="thumbnail">
                        <img src="{{ post.image }}" alt="no_photo" style="width: 100%;height: 180px;">
                        <div class="caption">
                            <h3>"{{ post.title | truncate(10)}}"</h3>
                            <span style="font-weight: bold; font-size: 20px">{{ post.author }}</span><br>
                            <span>Дата публикации: {{ post.getCreatedUts()}}</span><br>
                            <span>Количество подписавшихся: {{ post.getUserQuantity()[0][1]}}</span><br>
                            <p><a href="{{ path('details', { name: post.id }) }}" class="btn btn-primary" role="button">Подробнее</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}